NEXT_PUBLIC_SITE_URL=https://sapan-dev.vercel.app
ANALYZE=false

RESEND_API_KEY=re_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
CONTACT_TO_EMAIL=sapanmozammel@gmail.com
CONTACT_FROM_EMAIL=onboarding@resend.dev
CONTACT_REPLY_TO=sapanmozammel@gmail.com

UPSTASH_REDIS_REST_URL=https://xxxxx-xxxxx-xxxxx.upstash.io
UPSTASH_REDIS_REST_TOKEN=Axxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

NEXT_PUBLIC_TURNSTILE_SITE_KEY=0x4AAAAAAAxxxxxxxxxxxxxxxx
TURNSTILE_SECRET_KEY=0x4AAAAAAAxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

NEXT_PUBLIC_GRAPHQL_ENDPOINT=https://gql.xxxxxxxx.com/graphql
GRAPHQL_AUTH_TOKEN=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
