@theme {
	// animation tokens
	--animate-noise: noise 1s linear infinite;
	--animate-spin-slow: spin 10s linear infinite;
	--animate-faq-border-shift: faq-border-shift 3s ease infinite;

	// keyframes
	@keyframes noise {
		0%,
		100% {
			background-position: 0 0;
		}
		50% {
			background-position: 400% 400%;
		}
	}
	@keyframes faq-border-shift {
		0%,
		100% {
			background-position: 0% 50%;
		}
		50% {
			background-position: 100% 50%;
		}
	}
}
