@custom-variant dark (&:where(.dark, .dark *));

@theme {
	// font family
	--font-dm: var(--font-dm);
	--font-eb: var(--font-eb);
	--font-hg: var(--font-hg);
	// colors
	--color-white: #ffffff;
	--color-black: #0e0c15;
	--color-light: #ecf1f4;
	--color-dark: #0e0e2c;
	--color-primary: #4a4ded;
	--color-secondary: #f1f5f9;
	--color-secondary-100: #e3ecf5;
	--color-secondary-200: #d9e5f1;
	--color-secondary-300: #bacfe6;
	--color-secondary-400: #94a3b8;
	--color-secondary-500: #5c637e;
	--color-secondary-600: #3d444d;
	--color-secondary-700: #334155;
	--color-secondary-800: #212a3e;
	--color-secondary-900: #0f172a;
	--color-success: #43ead4;
	--color-info: #1f8fff;
	--color-warning: #ff6f00;
	--color-warning-light: #f4a462;
	--color-danger: #f56565;
}
