@custom-variant dark (&:where(.dark, .dark *));

@theme {
	// font family
	--font-dm: var(--font-dm);
	--font-eb: var(--font-eb);
	--font-hg: var(--font-hg);
	--font-cg: var(--font-cg);
	--font-sora: var(--font-sora);
	--font-tektur: var(--font-tektur);
	--font-arabic: var(--font-arabic);

	/*
	----
		Primitive Colors
	----
	*/
	/* SLATE */
	--color-slate-25: #f3f5f7;
	--color-slate-50: #e1e6ed;
	--color-slate-100: #c9d2de;
	--color-slate-200: #b0bccf;
	--color-slate-300: #94a4bb;
	--color-slate-400: #7b8fa9;
	--color-slate-500: #637a97;
	--color-slate-600: #52667f;
	--color-slate-700: #415166;
	--color-slate-800: #313e4e;
	--color-slate-900: #212b36;
	--color-slate-950: #141a22;
	--color-slate-a100: #080b10;
	/* GRAY */
	--color-gray-25: #f6f7f8;
	--color-gray-50: #eceef1;
	--color-gray-100: #d6dae0;
	--color-gray-200: #bfc5ce;
	--color-gray-300: #9fa8b5;
	--color-gray-400: #7f8998;
	--color-gray-500: #68707e;
	--color-gray-600: #555c68;
	--color-gray-700: #414650;
	--color-gray-800: #2d3139;
	--color-gray-900: #1c1f25;
	--color-gray-950: #101216;
	--color-gray-a100: #060708;
	/* ZINC */
	--color-zinc-25: #f7f7f8;
	--color-zinc-50: #edeef0;
	--color-zinc-100: #d8dade;
	--color-zinc-200: #c1c4cb;
	--color-zinc-300: #a1a6b0;
	--color-zinc-400: #808793;
	--color-zinc-500: #686e7a;
	--color-zinc-600: #555a64;
	--color-zinc-700: #41444c;
	--color-zinc-800: #2e3036;
	--color-zinc-900: #1c1d21;
	--color-zinc-950: #101114;
	--color-zinc-a100: #050607;
	/* NEUTRAL */
	--color-neutral-25: #f7f7f7;
	--color-neutral-50: #eeeeee;
	--color-neutral-100: #dadada;
	--color-neutral-200: #c3c3c3;
	--color-neutral-300: #a3a3a3;
	--color-neutral-400: #848484;
	--color-neutral-500: #6c6c6c;
	--color-neutral-600: #585858;
	--color-neutral-700: #444444;
	--color-neutral-800: #2f2f2f;
	--color-neutral-900: #1c1c1c;
	--color-neutral-950: #111111;
	--color-neutral-a100: #050505;
	/* STONE */
	--color-stone-25: #f7f6f5;
	--color-stone-50: #ecebe8;
	--color-stone-100: #d6d3cf;
	--color-stone-200: #bfbab4;
	--color-stone-300: #a19991;
	--color-stone-400: #847b72;
	--color-stone-500: #6d655e;
	--color-stone-600: #59524c;
	--color-stone-700: #45403b;
	--color-stone-800: #322f2b;
	--color-stone-900: #1f1d1a;
	--color-stone-950: #12110f;
	--color-stone-a100: #070706;
	/* RED */
	--color-red-25: #fff3f3;
	--color-red-50: #ffe1e1;
	--color-red-100: #ffc6c6;
	--color-red-200: #ff9e9e;
	--color-red-300: #ff6e6e;
	--color-red-400: #f64545;
	--color-red-500: #d92d2d;
	--color-red-600: #b72222;
	--color-red-700: #8f1a1a;
	--color-red-800: #681313;
	--color-red-900: #420d0d;
	--color-red-950: #2a0808;
	--color-red-a100: #130303;
	/* ORANGE */
	--color-orange-25: #fff6f0;
	--color-orange-50: #ffe8d9;
	--color-orange-100: #ffd2b0;
	--color-orange-200: #ffb780;
	--color-orange-300: #ff9a4d;
	--color-orange-400: #f57f2e;
	--color-orange-500: #db6620;
	--color-orange-600: #b95219;
	--color-orange-700: #8f3e12;
	--color-orange-800: #662b0c;
	--color-orange-900: #421b07;
	--color-orange-950: #291104;
	--color-orange-a100: #120702;
	/* AMBER */
	--color-amber-25: #fff9eb;
	--color-amber-50: #fff0c2;
	--color-amber-100: #ffe399;
	--color-amber-200: #ffd166;
	--color-amber-300: #ffbf33;
	--color-amber-400: #e6a800;
	--color-amber-500: #cc9600;
	--color-amber-600: #a67a00;
	--color-amber-700: #805e00;
	--color-amber-800: #5a4200;
	--color-amber-900: #332500;
	--color-amber-950: #1f1700;
	--color-amber-a100: #0f0b00;
	/* YELLOW */
	--color-yellow-25: #fffdeb;
	--color-yellow-50: #fff7c2;
	--color-yellow-100: #fff099;
	--color-yellow-200: #ffe766;
	--color-yellow-300: #ffde33;
	--color-yellow-400: #e6c600;
	--color-yellow-500: #ccb000;
	--color-yellow-600: #a69000;
	--color-yellow-700: #807000;
	--color-yellow-800: #5a5000;
	--color-yellow-900: #333000;
	--color-yellow-950: #1f1c00;
	--color-yellow-a100: #0f0e00;
	/* LIME */
	--color-lime-25: #f7fee7;
	--color-lime-50: #ecfccb;
	--color-lime-100: #d9f99d;
	--color-lime-200: #bef264;
	--color-lime-300: #a3e635;
	--color-lime-400: #84cc16;
	--color-lime-500: #65a30d;
	--color-lime-600: #4d7c0f;
	--color-lime-700: #3f6212;
	--color-lime-800: #365314;
	--color-lime-900: #1a2e05;
	--color-lime-950: #0f1a03;
	--color-lime-a100: #070d01;
	/* GREEN */
	--color-green-25: #f0fdf4;
	--color-green-50: #dcfce7;
	--color-green-100: #bbf7d0;
	--color-green-200: #86efac;
	--color-green-300: #4ade80;
	--color-green-400: #22c55e;
	--color-green-500: #16a34a;
	--color-green-600: #15803d;
	--color-green-700: #166534;
	--color-green-800: #14532d;
	--color-green-900: #052e16;
	--color-green-950: #031a0d;
	--color-green-a100: #010c06;
	/* EMERALD */
	--color-emerald-25: #ecfdf5;
	--color-emerald-50: #d1fae5;
	--color-emerald-100: #a7f3d0;
	--color-emerald-200: #6ee7b7;
	--color-emerald-300: #34d399;
	--color-emerald-400: #10b981;
	--color-emerald-500: #059669;
	--color-emerald-600: #047857;
	--color-emerald-700: #065f46;
	--color-emerald-800: #064e3b;
	--color-emerald-900: #022c22;
	--color-emerald-950: #011a14;
	--color-emerald-a100: #000d0a;
	/* TEAL */
	--color-teal-25: #f0fdfa;
	--color-teal-50: #ccfbf1;
	--color-teal-100: #99f6e4;
	--color-teal-200: #5eead4;
	--color-teal-300: #2dd4bf;
	--color-teal-400: #14b8a6;
	--color-teal-500: #0d9488;
	--color-teal-600: #0f766e;
	--color-teal-700: #115e59;
	--color-teal-800: #134e4a;
	--color-teal-900: #042f2e;
	--color-teal-950: #021b1a;
	--color-teal-a100: #010e0d;
	/* CYAN */
	--color-cyan-25: #ecfeff;
	--color-cyan-50: #cffafe;
	--color-cyan-100: #a5f3fc;
	--color-cyan-200: #67e8f9;
	--color-cyan-300: #22d3ee;
	--color-cyan-400: #06b6d4;
	--color-cyan-500: #0891b2;
	--color-cyan-600: #0e7490;
	--color-cyan-700: #155e75;
	--color-cyan-800: #164e63;
	--color-cyan-900: #083344;
	--color-cyan-950: #041e2a;
	--color-cyan-a100: #020f14;
	/* SKY */
	--color-sky-25: #f0f9ff;
	--color-sky-50: #e0f2fe;
	--color-sky-100: #bae6fd;
	--color-sky-200: #7dd3fc;
	--color-sky-300: #38bdf8;
	--color-sky-400: #0ea5e9;
	--color-sky-500: #0284c7;
	--color-sky-600: #0369a1;
	--color-sky-700: #075985;
	--color-sky-800: #0c4a6e;
	--color-sky-900: #082f49;
	--color-sky-950: #041c2c;
	--color-sky-a100: #020e16;
	/* BLUE */
	--color-blue-25: #eff6ff;
	--color-blue-50: #dbeafe;
	--color-blue-100: #bfdbfe;
	--color-blue-200: #93c5fd;
	--color-blue-300: #60a5fa;
	--color-blue-400: #3b82f6;
	--color-blue-500: #2563eb;
	--color-blue-600: #1d4ed8;
	--color-blue-700: #1e40af;
	--color-blue-800: #1e3a8a;
	--color-blue-900: #172554;
	--color-blue-950: #0e1734;
	--color-blue-a100: #070c1a;
	/* INDIGO */
	--color-indigo-25: #eef2ff;
	--color-indigo-50: #e0e7ff;
	--color-indigo-100: #c7d2fe;
	--color-indigo-200: #a5b4fc;
	--color-indigo-300: #818cf8;
	--color-indigo-400: #6366f1;
	--color-indigo-500: #4f46e5;
	--color-indigo-600: #4338ca;
	--color-indigo-700: #3730a3;
	--color-indigo-800: #312e81;
	--color-indigo-900: #1e1b4b;
	--color-indigo-950: #12112e;
	--color-indigo-a100: #090817;
	/* VIOLET */
	--color-violet-25: #f5f3ff;
	--color-violet-50: #ede9fe;
	--color-violet-100: #ddd6fe;
	--color-violet-200: #c4b5fd;
	--color-violet-300: #a78bfa;
	--color-violet-400: #8b5cf6;
	--color-violet-500: #7c3aed;
	--color-violet-600: #6d28d9;
	--color-violet-700: #5b21b6;
	--color-violet-800: #4c1d95;
	--color-violet-900: #2e1065;
	--color-violet-950: #1b0a3d;
	--color-violet-a100: #0e051f;
	/* PURPLE */
	--color-purple-25: #faf5ff;
	--color-purple-50: #f3e8ff;
	--color-purple-100: #e9d5ff;
	--color-purple-200: #d8b4fe;
	--color-purple-300: #c084fc;
	--color-purple-400: #a855f7;
	--color-purple-500: #9333ea;
	--color-purple-600: #7e22ce;
	--color-purple-700: #6b21a8;
	--color-purple-800: #581c87;
	--color-purple-900: #3b0764;
	--color-purple-950: #24043d;
	--color-purple-a100: #12021f;
	/* FUCHSIA */
	--color-fuchsia-25: #fdf4ff;
	--color-fuchsia-50: #fae8ff;
	--color-fuchsia-100: #f5d0fe;
	--color-fuchsia-200: #f0abfc;
	--color-fuchsia-300: #e879f9;
	--color-fuchsia-400: #d946ef;
	--color-fuchsia-500: #c026d3;
	--color-fuchsia-600: #a21caf;
	--color-fuchsia-700: #86198f;
	--color-fuchsia-800: #701a75;
	--color-fuchsia-900: #4a044e;
	--color-fuchsia-950: #2c022f;
	--color-fuchsia-a100: #160118;
	/* PINK */
	--color-pink-25: #fdf2f8;
	--color-pink-50: #fce7f3;
	--color-pink-100: #fbcfe8;
	--color-pink-200: #f9a8d4;
	--color-pink-300: #f472b6;
	--color-pink-400: #ec4899;
	--color-pink-500: #db2777;
	--color-pink-600: #be185d;
	--color-pink-700: #9d174d;
	--color-pink-800: #831843;
	--color-pink-900: #500724;
	--color-pink-950: #2f0416;
	--color-pink-a100: #17020b;
	/* ROSE */
	--color-rose-25: #fff1f2;
	--color-rose-50: #ffe4e6;
	--color-rose-100: #fecdd3;
	--color-rose-200: #fda4af;
	--color-rose-300: #fb7185;
	--color-rose-400: #f43f5e;
	--color-rose-500: #e11d48;
	--color-rose-600: #be123c;
	--color-rose-700: #9f1239;
	--color-rose-800: #881337;
	--color-rose-900: #4c0519;
	--color-rose-950: #2d030f;
	--color-rose-a100: #160108;

	/*
	----
		Semantic Colors
	----
	*/
	--color-white: #ffffff;
	--color-black: #0e0c15;
	--color-light: #ecf1f4;
	--color-dark: #0e0e2c;
	--color-primary: #4a4ded;
	--color-secondary: #f1f5f9;
	--color-secondary-100: #e3ecf5;
	--color-secondary-200: #d9e5f1;
	--color-secondary-300: #bacfe6;
	--color-secondary-400: #94a3b8;
	--color-secondary-500: #5c637e;
	--color-secondary-600: #3d444d;
	--color-secondary-700: #334155;
	--color-secondary-800: #212a3e;
	--color-secondary-900: #0f172a;
	--color-success: #43ead4;
	--color-info: #1f8fff;
	--color-warning: #ff6f00;
	--color-danger: #f56565;
}
